body, html {
    height: 100%;
  }
  .bg {
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
    height: 37vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .centered {
    position: relative;
  }