<h1>Bonjour {{user.first_name}} !</h1>

<p> Vous venez d'initier votre inscription à notre plateforme.<br/>
    Votre nom d'utilisateur est {{user.username}}.
</p>

<h3>
    Pour vérifier votre email, veuillez cliquer sur le lien suivant<br>
    <a href="{{frontend_link}}">{{frontend_link}}</a>
</h3>

<p>Si le lien ne fonctionne pas vous pouvez le copier pour coller dans votre navigateur</p>
<h2>Cordialement !</h2>