<h1>Bonjour {{user.first_name}} !</h1>

<p>Vous avez demandé à réinitialiser votre mot de passe pour le
    nom d'utilisateur {{user.username}}.
</p>

<h3>
    Pour ce faire, veuillez cliquer sur le lien suivant<br>
    <a href="{{frontend_link}}">{{frontend_link}}</a>
</h3>

<p>Si le lien ne fonctionne pas vous pouvez le copier pour coller dans votre navigateur</p>
<h2>Cordialement !</h2>
